<head th:fragment="head">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>AdminLTE 2 | Blank Page</title>
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

	<!-- CSS Files -->
	<link th:href="@{/admin/css/bootstrap.min.css}" rel="stylesheet">
	<link th:href="@{/admin/css/font-awesome.min.css}" rel="stylesheet">
	<link th:href="@{/admin/css/AdminLTE.css}" rel="stylesheet">
	<link th:href="@{/admin/css/_all-skins.min.css}" rel="stylesheet">
	<link th:href="@{/admin/css/jquery-ui.css}" rel="stylesheet">
	<link th:href="@{/admin/css/style.css}" rel="stylesheet">

	<!-- JS Files -->
	<script th:src="@{/admin/js/angular.min.js}"></script>
	<script th:src="@{/admin/js/app.js}"></script>
</head>