<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="admin/layout/head :: head"></head>

<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        <!-- header -->
        <header th:replace="admin/layout/header :: header"></header>
        <!-- sidebar -->
        <aside th:replace="admin/layout/sidebar :: sidebar"></aside>
        <!-- wrapper -->
        <div class="content-wrapper">
            <section class="content-header">
                <h1>DASHBOARD<small></small></h1>
                <ol class="breadcrumb">
                    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                    <li><a href="#">Examples</a></li>
                    <li class="active">Blank page</li>
                </ol>
            </section>
            <section class="content">
                <div class="box">
                    <div class="box-header with-border">
                        <h3 style="color: red;" class="box-title">Thông Báo</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                    class="fa fa-minus"></i></button>
                            <button type="button" class="btn btn-box-tool" data-widget="remove"><i
                                    class="fa fa-times"></i></button>
                        </div>
                    </div>
                    <div class="box-body">
                        product!
                    </div>
                    <div class="box-footer">
                        Footer
                    </div>
                </div>
            </section>
        </div>
        <!-- footer -->
        <footer th:replace="admin/layout/footer :: footer"></footer>
    </div>
    <div th:replace="admin/layout/script :: script"></div>

</body>

</html>